/*** 158ltd.com ***/

/*** External Libs ***/

/*** Asp.Net ***/
/*** Asp.Net ***/

/*** Buttons ***/
/*** Buttons ***/

/*** Header ***/
/*** Header ***/

/*** Footer ***/
.footer-wrapper {
    position: absolute;
    bottom: 0;

    display:block;
    height: 75px;
    width: 100%;

    text-align: center;
}
/*** Footer ***/

/*** Form Elements ***/
.response-form {
    position: relative;

    display: block;
    margin: 1em auto;
    padding: 1em;
    width: 60%;
}

.big-response-form {
    position: relative;

    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 97%;
}
/*** Form Elements ***/
