.icon-add:before:before { content: "\271A"; }
.icon-edit:before { content: "\270E"; }
.icon-delete:before { content: "\2718";}
.icon-save:before { content: "\2714";}
.icon-email:before  { content: "\2709";}
.icon-cross:before  { content: "\2716"; }
.icon-left-arrow:before { content: "\2190"; }